<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gráficos de Ventas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Graficos.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
</head>

<body>

<h2>Gráfico de ventas por mes</h2>

<div style="text-align:center;">
    <a href="{{ url_for('home') }}" class="btn-volver">Volver</a>
</div>

<div class="chart-box">
    <canvas id="graficoVentas"></canvas>
</div>

<script>
    const labels = {{ labels | tojson }};
    const valores = {{ valores | tojson }};

    new Chart(document.getElementById('graficoVentas'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Total vendido ($)',
                data: valores,
                backgroundColor: 'rgba(120, 99, 255, 0.4)',
                borderColor: 'rgba(120, 99, 255, 1)',
                borderWidth: 1,
                borderRadius: 6
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    });
</script>

</body>


</body>
</html>
