<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/Index.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
</head>
<body>
    <body>
        <div class="container">
          <div class="card" onclick="location.href='/stock'">
            <div class="image" style="background-image: url('/Proyecto-conjunto-con-5to/app/static/fotos/Stock.jpg')"></div>
            <h3>Stock</h3>
          </div>
      
          <div class="card" onclick="location.href='/proveedores'">
            <div class="image" style="background-image: url('/Proyecto-conjunto-con-5to/app/static/fotos/Proveedores.jpg')"></div>
            <h3>Proveedores</h3>
          </div>
      
         <div class="card" onclick="window.location.href='https://www.canva.com/design/DAG4BBQccnQ/zX91ELXYub6czq3iMTdOcQ/edit'">
            <div class="image" style="background-image: url('/Proyecto-conjunto-con-5to/app/static/fotos/Stock.jpg')"></div>
            <h3>Gastos</h3>
          </div>
      
          <div class="card" onclick="location.href='/ventas'">
            <div class="image" style="background-image: url('/Proyecto-conjunto-con-5to/app/static/fotos/Stock.jpg')"></div>
            <h3>Ventas</h3>
          </div>
        </div>
</body>
</html>