<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proveedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='proveedores.css') }}">
</head>
<body>

<div class="container">

    <h2>Lista de Proveedores</h2>

    <div class="botones-superior">
        <a href="{{ url_for('registrar_proveedor') }}" class="btn-crear">+ Registrar Contacto</a>
        <a href="{{ url_for('home') }}" class="btn-volver">Volver</a>
    </div>

    <div class="lista">
        {% for p in proveedores %}
        <div class="proveedor-card">
            <div class="info">
                <h3>{{ p.nombre }}</h3>
                <p>{{ p.descripcion }}</p>
                <small>{{ p.numero }}</small>
            </div>

            <a class="btn-contactar" 
               href="https://wa.me/{{ p.numero | replace(' ', '') }}" 
               target="_blank">
               Contactar
            </a>
        </div>
        {% endfor %}
    </div>

</div>

</body>
</html>
