<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proveedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='proveedores.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="navbar-title">
        Hola, {{ nombre }}
    </div>
  </div>

  <!-- Desplegable -->
  <div id="sideMenu" class="side-menu">
    <div class="close-btn" onclick="toggleMenu()">&#10094;</div>

    <h3>Kiosco</h3>
    <ul>
        <li onclick="location.href='/stock'">Stock</li>
        <li onclick="location.href='/ventas'">Ventas</li>
        <li onclick="window.location.href='https://www.canva.com/design/DAG4BBQccnQ/zX91ELXYub6czq3iMTdOcQ/edit'">Gastos</li>
        <li onclick="location.href='/proveedores'">Proveedores</li>
        <li onclick="location.href='/graficos_ventas'">Grafico</li>
    </ul>
  </div>

<div class="container">

    <h2>Lista de Proveedores</h2>

    <div class="botones-superior">
        <a href="{{ url_for('registrar_proveedor') }}" class="btn-crear">+ Registrar Contacto</a>
        <a href="{{ url_for('home') }}" class="btn-volver">Volver</a>
    </div>

    <div class="lista">
        {% for p in proveedores %}
        <div class="proveedor-card">
            <div class="info">
                <h3>{{ p.nombre }}</h3>
                <p>{{ p.descripcion }}</p>
                <small>{{ p.numero }}</small>
            </div>

            <a class="btn-contactar" 
               href="https://wa.me/{{ p.numero | replace(' ', '') }}" 
               target="_blank">
               Contactar
            </a>
        </div>
        {% endfor %}
    </div>

</div>

<script>
function toggleMenu() {
    const menu = document.getElementById("sideMenu");
    menu.style.left = (menu.style.left === "0px") ? "-500px" : "0px";
}
</script>

</body>
</html>
