<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar proveedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='proveedores.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <h2>Registrar nuevo proveedor</h2>

    <form method="POST" class="formulario">
        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <label>Número (formato internacional):</label>
        <input type="text" name="numero" placeholder="+54351XXXXXXX" required>

        <label>Descripción:</label>
        <input type="text" name="descripcion">

        <button class="btn-crear" type="submit">Guardar proveedor</button>

        <a href="{{ url_for('proveedores') }}" class="volver">Volver</a>
    </form>
        
</div>

</body>
</html>
