<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ventas.css') }}">
</head>
<body>

<div class="container">
    <h1>Ventas realizadas</h1>
    <a href="{{ url_for('agregar_venta') }}" class="btn-crear">+ Registrar venta</a>
    <a href="{{ url_for('graficos_ventas') }}" class="btn-crear">Graficos</a>
    <a href="{{ url_for('home') }}" class="btn-volver">Volver</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Comprobante</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            {% for v in ventas %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.titulo }}</td>
                <td>{{ v.fecha.strftime("%d/%m/%Y %H:%M") }}</td>
                <td>
                    <ul>
                        {% for item in v.items %}
                        <li>{{ item.producto.nombre }} (x{{ item.cantidad }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {% if v.imagen %}
                    <img src="/static/{{ v.imagen }}" width="80">
                    {% else %}
                    Sin imagen
                    {% endif %}
                </td>
                <td>${{ "%.2f"|format(v.total) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

</body>
</html>
